/* -- Import custom fonts -- */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700;900&display=swap');

/* -- Color palette -- */
:root {
  --c-dark-blue: #102855;
  --c-yellow: #F1C513;
  --c-pink: #C31765;
  --c-beige: #F8F0F1;
  --c-success: #4CB944;

  --c-text-light: var(--c-beige);
  --c-text-dark: var(--c-dark-blue);
}

/* -- Semantic color variables for this project -- */
:root {
  --c-background: #FFF;
  --c-contact:var(--c-pink);
  --c-portfolio:var(--c-yellow);
  --c-presentation:var(--c-dark-blue);
  --c-text: var(--c-text-dark);
}

/* -- Global Styles for all project -- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--c-text);
  background: var(--c-background);
  line-height: 1.6;
  font-family:'Barlow', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}